################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleProject/.vs
/SampleProject/SampleProject/obj
/SampleProject/SampleProject.Business/obj/Debug/net7.0
/SampleProject/SampleProject.Business/obj
/SampleProject/SampleProject.Domain/obj
/SampleProject/SampleProject.Infrastructure/obj/Debug/net7.0
/SampleProject/SampleProject.Infrastructure/obj
/SampleProject/SampleProject.Model/obj
/SampleProject/SampleProject/bin/Debug/net7.0
/SampleProject/SampleProject.Business/bin/Debug/net7.0
/SampleProject/SampleProject.Domain/bin/Debug/net7.0
/SampleProject/SampleProject.Infrastructure/bin/Debug/net7.0
/SampleProject/SampleProject.Model/bin/Debug/net7.0
